
!!!
%html
%head
  %title Discussion Forum
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %link{ rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Lato:300,400,700", type: "text/css"}
  %link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"}/ 
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
  = csrf_meta_tags

%body
  %header.main_header.clearfix
    .wrapper
      #logo
        %p= link_to "Discussion Forum", root_path
      #buttons
        - if user_signed_in?
          = link_to "New Post", new_post_path
        - else
          = link_to "Sign Up", new_user_registration_path
          = link_to "Sign In", new_user_session_path
  .wrapper
    %p.notice= notice
    %p.alert= alert

  .wrapper
    = yield
